{"openapi":"3.0.0","info":{"title":"Temple Raids API","version":"1.0.0","description":"External API for Temple guild raid management"},"servers":[{"url":"https://www.temple-era.com"}],"components":{"securitySchemes":{"BearerToken":{"type":"http","scheme":"bearer","description":"Personal API token generated from your profile page"}},"schemas":{"Character":{"type":"object","properties":{"characterId":{"type":"number","example":12345},"name":{"type":"string","example":"Khlav"},"class":{"type":"string","example":"Warrior"},"server":{"type":"string","example":"Ashkandi"},"slug":{"type":"string","example":"khlav-ashkandi-12345"},"classDetail":{"type":"string","example":"Warrior - Arms"},"isPrimary":{"type":"boolean","nullable":true,"example":true},"primaryCharacterId":{"type":"number","nullable":true,"example":null},"primaryCharacterName":{"type":"string","nullable":true,"example":null},"firstRaidAt":{"type":"string","nullable":true,"description":"ISO date of earliest attended raid","example":"2024-01-15"},"lastRaidAt":{"type":"string","nullable":true,"description":"ISO date of most recent attended raid","example":"2024-06-18"}},"required":["characterId","name","class","server","slug","classDetail","isPrimary","primaryCharacterId","primaryCharacterName","firstRaidAt","lastRaidAt"]},"ByNameCharacter":{"type":"object","properties":{"characterId":{"type":"number","example":12345},"name":{"type":"string","example":"Khlav"},"class":{"type":"string","example":"Warrior"},"server":{"type":"string","example":"Ashkandi"}},"required":["characterId","name","class","server"]},"CharacterDetail":{"allOf":[{"$ref":"#/components/schemas/Character"},{"type":"object","properties":{"secondaryCharacters":{"type":"array","items":{"type":"object","properties":{"characterId":{"type":"number","example":99},"name":{"type":"string","example":"Althlav"},"class":{"type":"string","example":"Rogue"},"server":{"type":"string","example":"Ashkandi"},"slug":{"type":"string","example":"althlav-ashkandi-99"},"classDetail":{"type":"string","example":"Rogue - Combat"}},"required":["characterId","name","class","server","slug","classDetail"]}},"isIgnored":{"type":"boolean","example":false}},"required":["secondaryCharacters","isIgnored"]}]},"AttendanceRaid":{"type":"object","properties":{"raidId":{"type":"number","example":1001},"name":{"type":"string","example":"MC Tuesday"},"date":{"type":"string","example":"2024-01-15"},"zone":{"type":"string","example":"Molten Core"},"attendanceWeight":{"type":"number","example":1},"attendeeOrBench":{"type":"string","nullable":true,"enum":["attendee","bench",null],"example":"attendee"}},"required":["raidId","name","date","zone","attendanceWeight","attendeeOrBench"]},"Attendance":{"type":"object","properties":{"characterId":{"type":"number","example":12345},"characterName":{"type":"string","example":"Khlav"},"attendancePct":{"type":"number","example":0.83},"weeksTracked":{"type":"number","example":6},"raids":{"type":"array","items":{"$ref":"#/components/schemas/AttendanceRaid"}}},"required":["characterId","characterName","attendancePct","weeksTracked","raids"]},"Me":{"type":"object","properties":{"id":{"type":"string","example":"123456789012345678"},"name":{"type":"string","nullable":true,"example":"Khlav"},"image":{"type":"string","nullable":true,"example":"https://cdn.discordapp.com/avatars/..."},"isRaidManager":{"type":"boolean","nullable":true,"example":false},"isAdmin":{"type":"boolean","nullable":true,"example":false},"templarEnabled":{"type":"boolean","example":false},"character":{"type":"object","nullable":true,"properties":{"characterId":{"type":"number","example":12345},"name":{"type":"string","example":"Khlav"},"class":{"type":"string","example":"Warrior"},"primaryCharacterId":{"type":"number","nullable":true,"example":null},"slug":{"type":"string","example":"khlav-ashkandi-12345"},"classDetail":{"type":"string","example":"Warrior - Arms"}},"required":["characterId","name","class","primaryCharacterId","slug","classDetail"],"example":null}},"required":["id","name","image","isRaidManager","isAdmin","templarEnabled","character"]},"FamilyUpdate":{"type":"object","properties":{"secondaryIds":{"type":"array","items":{"type":"integer"},"minItems":1,"example":[456,789],"description":"Character IDs to set as secondaries"},"mode":{"type":"string","enum":["replace","append"],"default":"replace","example":"replace","description":"replace: clears existing secondaries and sets new list. append: merges with existing secondaries."}},"required":["secondaryIds"]},"FamilyResponse":{"type":"object","properties":{"primaryCharacterId":{"type":"number","example":123},"secondaryCharacters":{"type":"array","items":{"type":"object","properties":{"characterId":{"type":"number","example":456},"name":{"type":"string","example":"Althlav"},"class":{"type":"string","example":"Rogue"},"server":{"type":"string","example":"Ashkandi"}},"required":["characterId","name","class","server"]}}},"required":["primaryCharacterId","secondaryCharacters"]},"EventRoleCounts":{"type":"object","properties":{"Tank":{"type":"number","example":4},"Healer":{"type":"number","example":9},"Melee":{"type":"number","example":14},"Ranged":{"type":"number","example":15}},"required":["Tank","Healer","Melee","Ranged"]},"EventExistingPlan":{"type":"object","properties":{"id":{"type":"string","format":"uuid","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"lastModifiedAt":{"type":"string","example":"2026-04-29T22:00:00.000Z"}},"required":["id","lastModifiedAt"]},"Event":{"type":"object","properties":{"id":{"type":"string","example":"1234567890"},"title":{"type":"string","example":"Temple MC {eventtime#E MM/dd}"},"displayTitle":{"type":"string","example":"Temple MC Tue 04/29"},"startTime":{"type":"number","example":1747180800,"description":"Unix timestamp (seconds)"},"signUpCount":{"type":"number","example":42},"roleCounts":{"$ref":"#/components/schemas/EventRoleCounts"},"existingPlan":{"allOf":[{"$ref":"#/components/schemas/EventExistingPlan"},{"nullable":true,"example":null}]}},"required":["id","title","displayTitle","startTime","signUpCount","roleCounts","existingPlan"]},"RaidPlanSummary":{"type":"object","properties":{"id":{"type":"string","format":"uuid","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"name":{"type":"string","example":"MC Tuesday"},"zoneId":{"type":"string","example":"mc"},"raidHelperEventId":{"type":"string","nullable":true,"example":"1234567890"},"startAt":{"type":"string","nullable":true,"example":"2026-04-29T23:00:00.000Z"},"isPublic":{"type":"boolean","nullable":true,"example":false},"lastModifiedAt":{"type":"string","example":"2026-04-28T14:30:00.000Z"}},"required":["id","name","zoneId","raidHelperEventId","startAt","isPublic","lastModifiedAt"]},"RaidPlanDetail":{"allOf":[{"$ref":"#/components/schemas/RaidPlanSummary"},{"type":"object","properties":{"planUrl":{"type":"string","format":"uri","example":"https://www.temple-era.com/raid-manager/raid-planner/a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"defaultAATemplate":{"type":"string","nullable":true,"example":null},"useDefaultAA":{"type":"boolean","nullable":true,"example":true},"availableSlots":{"type":"array","items":{"type":"string"},"example":["MainTank","TranqShot1","Healer1"]},"characters":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid","example":"b2c3d4e5-f601-7890-abcd-ef1234567890"},"characterId":{"type":"number","nullable":true,"example":12345},"characterName":{"type":"string","example":"Khlav"},"class":{"type":"string","nullable":true,"example":"Warrior"},"defaultGroup":{"type":"number","nullable":true,"example":0},"defaultPosition":{"type":"number","nullable":true,"example":0}},"required":["id","characterId","characterName","class","defaultGroup","defaultPosition"]}},"encounterGroups":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid","example":"d4e5f6a7-b8c9-0123-def0-234567890123"},"groupName":{"type":"string","example":"Core Hounds"},"sortOrder":{"type":"number","nullable":true,"example":0}},"required":["id","groupName","sortOrder"]}},"encounters":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid","example":"c3d4e5f6-a7b8-9012-cdef-123456789012"},"encounterKey":{"type":"string","nullable":true,"example":"lucifron"},"encounterName":{"type":"string","example":"Lucifron"},"sortOrder":{"type":"number","nullable":true,"example":0},"groupId":{"type":"string","nullable":true,"format":"uuid","example":null},"useDefaultGroups":{"type":"boolean","nullable":true,"example":true},"aaTemplate":{"type":"string","nullable":true,"example":"{skull} {assign:MainTank} :: {assign:MainTankHeals}"},"useCustomAA":{"type":"boolean","nullable":true,"example":false},"availableSlots":{"type":"array","items":{"type":"string"},"example":["MainTank","MainTankHeals"]}},"required":["id","encounterKey","encounterName","sortOrder","groupId","useDefaultGroups","aaTemplate","useCustomAA","availableSlots"]}},"encounterAssignments":{"type":"array","items":{"type":"object","properties":{"encounterId":{"type":"string","format":"uuid","example":"c3d4e5f6-a7b8-9012-cdef-123456789012"},"planCharacterId":{"type":"string","format":"uuid","example":"b2c3d4e5-f601-7890-abcd-ef1234567890"},"groupNumber":{"type":"number","nullable":true,"example":1},"position":{"type":"number","nullable":true,"example":2}},"required":["encounterId","planCharacterId","groupNumber","position"]}},"aaSlotAssignments":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid","example":"e5f6a7b8-c9d0-1234-ef01-345678901234"},"encounterId":{"type":"string","nullable":true,"format":"uuid","example":null},"raidPlanId":{"type":"string","nullable":true,"format":"uuid","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"planCharacterId":{"type":"string","nullable":true,"format":"uuid","example":"b2c3d4e5-f601-7890-abcd-ef1234567890"},"slotName":{"type":"string","example":"MainTank"}},"required":["id","encounterId","raidPlanId","planCharacterId","slotName"]}}},"required":["planUrl","defaultAATemplate","useDefaultAA","availableSlots","characters"]}]},"CreatePlan":{"type":"object","properties":{"raidHelperEventId":{"type":"string","minLength":1,"example":"1234567890"},"name":{"type":"string","minLength":1,"maxLength":256,"example":"MC Tuesday"},"zoneId":{"type":"string","minLength":1,"maxLength":64,"example":"mc"},"startAt":{"type":"string","nullable":true,"example":"2026-04-29T23:00:00Z"},"cloneFromPlanId":{"type":"string","nullable":true,"format":"uuid","example":null}},"required":["raidHelperEventId","name","zoneId"]},"SyncSignups":{"type":"object","properties":{"mode":{"type":"string","enum":["addNewSignupsToBench","fullReimport"],"default":"addNewSignupsToBench","description":"addNewSignupsToBench: adds new signups as benched, never removes existing. fullReimport: replaces roster completely.","example":"addNewSignupsToBench"}}},"EventSignupCharacter":{"type":"object","properties":{"id":{"type":"number","nullable":true,"example":12345,"description":"Character ID. null for ambiguous matches where the exact character is uncertain."},"name":{"type":"string","nullable":true,"example":"Khlav"},"class":{"type":"string","nullable":true,"example":"Warrior","description":"null for ambiguous matches"},"primaryCharacterId":{"type":"number","nullable":true,"example":null}},"required":["id","name","class","primaryCharacterId"]},"EventSignup":{"type":"object","properties":{"userId":{"type":"string","example":"123456789012345678"},"discordName":{"type":"string","example":"Khlav"},"className":{"type":"string","example":"Warrior"},"specName":{"type":"string","example":"Arms"},"roleName":{"type":"string","example":"Melee"},"status":{"type":"string","example":"Confirmed","description":"Raid Helper signup status: Confirmed, Bench, Tentative, Late, Absence, Absent"},"matchStatus":{"type":"string","enum":["matched","ambiguous","unmatched","skipped"],"example":"matched","description":"matched: linked to a DB character. ambiguous: best-guess family found. unmatched: no match. skipped: non-WoW-class signup (Bench, Absent, etc)."},"matchConfidence":{"type":"number","nullable":true,"example":0.99},"character":{"allOf":[{"$ref":"#/components/schemas/EventSignupCharacter"},{"nullable":true,"example":null}]}},"required":["userId","discordName","className","specName","roleName","status","matchStatus","matchConfidence","character"]},"EventSignupsResponse":{"type":"object","properties":{"event":{"type":"object","properties":{"id":{"type":"string","example":"1234567890"},"resolvedId":{"type":"string","example":"1234567891","description":"Actual event instance ID after recurring-event resolution. Equal to id when not a recurring event."},"startTime":{"type":"number","example":1747180800}},"required":["id","resolvedId","startTime"]},"signups":{"type":"array","items":{"$ref":"#/components/schemas/EventSignup"}}},"required":["event","signups"]},"RosterPatch":{"type":"array","items":{"type":"object","properties":{"planCharacterId":{"type":"string","format":"uuid","example":"b2c3d4e5-f601-7890-abcd-ef1234567890"},"group":{"type":"integer","nullable":true,"minimum":0,"maximum":7,"example":0},"position":{"type":"integer","nullable":true,"minimum":0,"maximum":4,"example":2}},"required":["planCharacterId","group","position"]}},"RosterCharacterPatch":{"type":"object","properties":{"characterId":{"type":"integer","example":456}},"required":["characterId"]},"AASlotAssignRequest":{"type":"array","items":{"type":"object","properties":{"slotName":{"type":"string","minLength":1,"maxLength":128,"example":"MainTank"},"planCharacterId":{"type":"string","format":"uuid","example":"b2c3d4e5-f601-7890-abcd-ef1234567890"},"encounterId":{"type":"string","nullable":true,"format":"uuid","example":null,"description":"null = plan-level default slot; uuid = encounter-specific slot"}},"required":["slotName","planCharacterId","encounterId"]}},"RaidSummary":{"type":"object","properties":{"raidId":{"type":"number","example":593},"name":{"type":"string","example":"Naxx 01/20"},"date":{"type":"string","example":"2026-01-20"},"zone":{"type":"string","example":"Naxxramas"},"attendanceWeight":{"type":"number","example":1}},"required":["raidId","name","date","zone","attendanceWeight"]},"RaidDetail":{"allOf":[{"$ref":"#/components/schemas/RaidSummary"},{"type":"object","properties":{"creator":{"type":"object","nullable":true,"properties":{"name":{"type":"string","nullable":true},"image":{"type":"string","nullable":true}},"required":["name","image"]},"logs":{"type":"array","items":{"type":"object","properties":{"raidLogId":{"type":"string","example":"h9G3pVyDwRcgL62q"},"name":{"type":"string","example":"Naxx 01/20"},"kills":{"type":"array","items":{"type":"string"},"example":["Anub'Rekhan","Grand Widow Faerlina"]},"startTimeUTC":{"type":"string","nullable":true,"example":"2026-01-21T00:56:52.297Z"},"endTimeUTC":{"type":"string","nullable":true,"example":"2026-01-21T03:31:22.692Z"}},"required":["raidLogId","name","kills","startTimeUTC","endTimeUTC"]}},"bench":{"type":"array","items":{"type":"object","properties":{"characterId":{"type":"number","example":12345},"name":{"type":"string","example":"Khlav"},"class":{"type":"string","example":"Warrior"},"classDetail":{"type":"string","example":"Warrior - Arms"},"server":{"type":"string","example":"Ashkandi"},"slug":{"type":"string","example":"khlav-ashkandi-12345"}},"required":["characterId","name","class","classDetail","server","slug"]}},"attendees":{"type":"array","items":{"type":"object","properties":{"characterId":{"type":"number","example":12345},"name":{"type":"string","example":"Khlav"},"class":{"type":"string","example":"Warrior"},"classDetail":{"type":"string","example":"Warrior - Arms"},"server":{"type":"string","example":"Ashkandi"},"slug":{"type":"string","example":"khlav-ashkandi-12345"}},"required":["characterId","name","class","classDetail","server","slug"]}}},"required":["creator","logs","bench"]}]},"CreateRaid":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":256,"example":"Naxx 01/20"},"date":{"type":"string","minLength":1,"example":"2026-01-20"},"zone":{"type":"string","minLength":1,"example":"Naxxramas"},"attendanceWeight":{"type":"number","example":1},"raidLogIds":{"type":"array","items":{"type":"string"},"default":[],"example":["h9G3pVyDwRcgL62q"]},"bench":{"type":"array","items":{"type":"number"},"default":[],"example":[]}},"required":["name","date","zone","attendanceWeight"]},"PatchRaid":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":256,"example":"Naxx 01/20"},"date":{"type":"string","minLength":1,"example":"2026-01-20"},"zone":{"type":"string","minLength":1,"example":"Naxxramas"},"attendanceWeight":{"type":"number","example":1},"raidLogIds":{"type":"array","items":{"type":"string"},"example":["h9G3pVyDwRcgL62q"]}}},"SetBench":{"type":"object","properties":{"characterIds":{"type":"array","items":{"type":"number"},"example":[12345,67890]}},"required":["characterIds"]}},"parameters":{}},"paths":{"/api/v1/characters":{"get":{"operationId":"listCharacters","tags":["Characters"],"summary":"List characters","description":"Search and list guild characters. Excludes ignored characters. Results capped at 200.","security":[{"BearerToken":[]}],"parameters":[{"schema":{"type":"string","example":"Khlav"},"required":false,"name":"q","in":"query"},{"schema":{"type":"string","enum":["all","primary","secondary"],"default":"all","description":"Filter by character type. Defaults to all."},"required":false,"description":"Filter by character type. Defaults to all.","name":"type","in":"query"},{"schema":{"type":"string","description":"Comma-separated, case-insensitive class filter","example":"shaman,druid"},"required":false,"description":"Comma-separated, case-insensitive class filter","name":"classes","in":"query"},{"schema":{"type":"string","enum":["name","firstRaidAt","lastRaidAt"],"default":"name","description":"Field to sort by. Defaults to name."},"required":false,"description":"Field to sort by. Defaults to name.","name":"sortBy","in":"query"},{"schema":{"type":"string","enum":["asc","desc"],"default":"asc","description":"Sort direction. Defaults to asc."},"required":false,"description":"Sort direction. Defaults to asc.","name":"order","in":"query"}],"responses":{"200":{"description":"List of characters","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Character"}}}}},"401":{"description":"Invalid or missing API token"}}}},"/api/v1/characters/by-name":{"get":{"operationId":"lookupCharactersByName","tags":["Characters"],"summary":"Lookup characters by name","description":"Looks up multiple characters by exact name. Matching is case-insensitive and diacritic-insensitive (e.g. `Grolnakh` matches `Grólnakh`). Names that don't match any character are silently omitted. Capped at 100 names per request.","security":[{"BearerToken":[]}],"parameters":[{"schema":{"type":"array","items":{"type":"string"},"example":["Cowch","Sneakers","Dunckan"],"description":"Comma-separated character names (max 100)"},"required":true,"description":"Comma-separated character names (max 100)","style":"form","explode":false,"name":"names","in":"query"}],"responses":{"200":{"description":"Matched characters","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ByNameCharacter"}}}}},"400":{"description":"Missing names parameter"},"401":{"description":"Invalid or missing API token"}}}},"/api/v1/characters/{id}":{"get":{"operationId":"getCharacter","tags":["Characters"],"summary":"Get character by ID","description":"Returns character by ID. Ignored characters can be retrieved by ID even though they are excluded from the list endpoint.","security":[{"BearerToken":[]}],"parameters":[{"schema":{"type":"string","example":"12345"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Character detail","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CharacterDetail"}}}},"401":{"description":"Invalid or missing API token"},"404":{"description":"Character not found"}}}},"/api/v1/characters/{id}/attendance":{"get":{"operationId":"getCharacterAttendance","tags":["Characters"],"summary":"Get character attendance","description":"Returns 6-week rolling attendance for a character's primary family. Resolves secondary characters to their primary automatically.","security":[{"BearerToken":[]}],"parameters":[{"schema":{"type":"string","example":"12345"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Character attendance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Attendance"}}}},"401":{"description":"Invalid or missing API token"},"404":{"description":"Character not found"}}}},"/api/v1/me":{"get":{"operationId":"getMe","tags":["User"],"summary":"Get current user","description":"Returns the authenticated user's profile and linked character (if any)","security":[{"BearerToken":[]}],"responses":{"200":{"description":"Current user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Me"}}}},"401":{"description":"Invalid or missing API token"}}}},"/api/v1/me/templar":{"patch":{"operationId":"patchMeTemplar","tags":["User"],"summary":"Toggle Templar bot access","description":"Enable or disable the Templar Discord bot from acting on your behalf via the admin proxy.","security":[{"BearerToken":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"enabled":{"type":"boolean","example":true}},"required":["enabled"]}}}},"responses":{"200":{"description":"Updated Me object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Me"}}}},"400":{"description":"Validation error"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden — requires raid manager or admin role"}}}},"/api/v1/openapi.json":{"get":{"operationId":"getOpenApiSpec","tags":["Meta"],"summary":"OpenAPI specification","description":"Returns the OpenAPI 3.0 specification for the Temple Raids API","responses":{"200":{"description":"OpenAPI specification document","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"nullable":true}}}}}}}},"/api/v1/characters/{id}/secondaries":{"put":{"operationId":"setSecondaryCharacters","tags":["Characters"],"summary":"Set secondary characters","description":"Sets secondary characters for a primary. Requires isRaidManager. Mode 'replace' (default) clears all existing secondaries and sets the new list. Mode 'append' merges incoming IDs with existing secondaries (deduped).","security":[{"BearerToken":[]}],"parameters":[{"schema":{"type":"string","example":"123"},"required":true,"name":"id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FamilyUpdate"}}}},"responses":{"200":{"description":"Updated secondary characters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FamilyResponse"}}}},"400":{"description":"Invalid input, character is not a primary, or secondaryIds includes primaryId"},"401":{"description":"Invalid or missing API token"},"403":{"description":"Not a raid manager or admin"},"404":{"description":"Primary character not found"}}}},"/api/v1/characters/{id}/primary":{"delete":{"operationId":"unlinkCharacterFromPrimary","tags":["Characters"],"summary":"Unlink character from its primary","description":"Removes a character from its primary family, making it standalone. Requires isRaidManager.","security":[{"BearerToken":[]}],"parameters":[{"schema":{"type":"string","example":"456"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Character successfully unlinked from its primary","content":{"application/json":{"schema":{"type":"object","properties":{"characterId":{"type":"number","example":456},"name":{"type":"string","example":"Althlav"}},"required":["characterId","name"]}}}},"400":{"description":"Character is not a secondary — standalone characters and primary characters cannot be unlinked"},"401":{"description":"Invalid or missing API token"},"403":{"description":"Not a raid manager or admin"},"404":{"description":"Character not found"}}}},"/api/v1/scheduled-raids/{eventId}/signups":{"get":{"operationId":"getEventSignups","tags":["Scheduled Raids"],"summary":"Get signups for a scheduled event","description":"Fetches Raid Helper signups for a given event, matches each to a DB character, and inlines 6-week attendance. Returns all signups regardless of status — use matchStatus to filter. Handles recurring events automatically. Requires isRaidManager.","security":[{"BearerToken":[]}],"parameters":[{"schema":{"type":"string","example":"1234567890"},"required":true,"name":"eventId","in":"path"}],"responses":{"200":{"description":"Event signups with character matching and attendance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventSignupsResponse"}}}},"400":{"description":"Invalid event ID format"},"401":{"description":"Invalid or missing API token"},"403":{"description":"Not a raid manager"},"404":{"description":"Event not found in Raid Helper"},"502":{"description":"Raid Helper API unavailable"}}}},"/api/v1/scheduled-raids":{"get":{"operationId":"listScheduledRaids","tags":["Scheduled Raids"],"summary":"List upcoming events","description":"Lists upcoming Discord events from Raid Helper, annotated with whether a raid plan exists. Requires isRaidManager.","security":[{"BearerToken":[]}],"parameters":[{"schema":{"type":"string","example":"0","description":"Include events that started up to N hours ago. Defaults to 0."},"required":false,"description":"Include events that started up to N hours ago. Defaults to 0.","name":"hoursBack","in":"query"}],"responses":{"200":{"description":"List of upcoming events sorted by startTime ascending","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Event"}}}}},"401":{"description":"Invalid or missing API token"},"403":{"description":"Not a raid manager"},"502":{"description":"Raid Helper API unavailable"}}}},"/api/v1/raid-plans":{"get":{"operationId":"listRaidPlans","tags":["Raid Planning"],"summary":"List recent raid plans","description":"Returns recent raid plans sorted by last-modified descending. Thin list — no roster or encounter detail. Requires isRaidManager.","security":[{"BearerToken":[]}],"parameters":[{"schema":{"type":"string","example":"20","description":"Number of plans to return. Default 20, max 50."},"required":false,"description":"Number of plans to return. Default 20, max 50.","name":"limit","in":"query"}],"responses":{"200":{"description":"List of raid plan summaries","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RaidPlanSummary"}}}}},"401":{"description":"Invalid or missing API token"},"403":{"description":"Not a raid manager"}}},"post":{"operationId":"createRaidPlan","tags":["Raid Planning"],"summary":"Create raid plan","description":"Creates a new raid plan shell for a Raid Helper event. Applies encounter structure from cloneFromPlanId (if provided) or from the active raid template. Roster is empty — use sync-signups after creation. Returns 409 if a plan already exists for the event. Requires isRaidManager.","security":[{"BearerToken":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePlan"}}}},"responses":{"201":{"description":"Plan created","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"name":{"type":"string","example":"MC Tuesday"},"zoneId":{"type":"string","example":"mc"},"raidHelperEventId":{"type":"string","example":"1234567890"},"startAt":{"type":"string","nullable":true,"example":"2026-04-29T23:00:00.000Z"}},"required":["id","name","zoneId","raidHelperEventId","startAt"]}}}},"400":{"description":"Validation error"},"401":{"description":"Invalid or missing API token"},"403":{"description":"Not a raid manager"},"409":{"description":"Plan already exists for this event"}}}},"/api/v1/raid-plans/{id}":{"get":{"operationId":"getRaidPlan","tags":["Raid Planning"],"summary":"Get raid plan detail","description":"Plan detail. Metadata and roster (characters) are always returned. Use `?include=` to request additional sections: encounterGroups, encounters, encounterAssignments, aaSlots. Requires isRaidManager.","security":[{"BearerToken":[]}],"parameters":[{"schema":{"type":"string","format":"uuid","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"required":true,"name":"id","in":"path"},{"schema":{"type":"array","items":{"type":"string","enum":["encounterGroups","encounters","encounterAssignments","aaSlots"]},"description":"Optional sections to include beyond the default roster. encounterAssignments and aaSlots implicitly resolve encounters for ID lookups.","example":["encounters","aaSlots"]},"required":false,"description":"Optional sections to include beyond the default roster. encounterAssignments and aaSlots implicitly resolve encounters for ID lookups.","style":"form","explode":false,"name":"include","in":"query"}],"responses":{"200":{"description":"Plan metadata plus any requested sections. Section arrays are absent when not requested.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RaidPlanDetail"}}}},"400":{"description":"Invalid plan ID format"},"401":{"description":"Invalid or missing API token"},"403":{"description":"Not a raid manager"},"404":{"description":"Plan not found"}}},"patch":{"operationId":"patchRaidPlan","tags":["Raid Planning"],"summary":"Update plan AA template","description":"Updates the plan-level default AA template and/or the useDefaultAA flag. All fields are optional — only provided fields are updated. Requires isRaidManager.","security":[{"BearerToken":[]}],"parameters":[{"schema":{"type":"string","format":"uuid","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"required":true,"name":"id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"defaultAATemplate":{"type":"string","nullable":true,"example":"{skull} {assign:MainTank} :: {assign:MainTankHeals}\n{assign:TranqShot1} {assign:TranqShot2} Tranq"},"useDefaultAA":{"type":"boolean","example":true}}}}}},"responses":{"200":{"description":"Updated AA template fields","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"defaultAATemplate":{"type":"string","nullable":true,"example":"{skull} {assign:MainTank} :: {assign:MainTankHeals}"},"useDefaultAA":{"type":"boolean","nullable":true,"example":true},"availableSlots":{"type":"array","items":{"type":"string"},"example":["MainTank","MainTankHeals"]}},"required":["id","defaultAATemplate","useDefaultAA","availableSlots"]}}}},"400":{"description":"Invalid plan ID or request body"},"401":{"description":"Invalid or missing API token"},"403":{"description":"Not a raid manager"},"404":{"description":"Plan not found"}}},"delete":{"operationId":"deleteRaidPlan","tags":["Raid Planning"],"summary":"Delete raid plan","description":"Permanently deletes a raid plan and all associated roster, encounters, and AA slot data. Requires isRaidManager.","security":[{"BearerToken":[]}],"parameters":[{"schema":{"type":"string","format":"uuid","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Plan deleted","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true}},"required":["success"]}}}},"400":{"description":"Invalid plan ID format"},"401":{"description":"Invalid or missing API token"},"403":{"description":"Not a raid manager"},"404":{"description":"Plan not found"}}}},"/api/v1/raid-plans/{id}/sync-signups":{"post":{"operationId":"syncSignups","tags":["Raid Planning"],"summary":"Sync signups to roster","description":"Fetches current signups from Raid Helper and refreshes the plan roster. addNewSignupsToBench (default) adds new signups as benched characters without removing existing. fullReimport replaces the roster completely and resets all custom encounter groups. Requires isRaidManager.","security":[{"BearerToken":[]}],"parameters":[{"schema":{"type":"string","format":"uuid","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"required":true,"name":"id","in":"path"}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyncSignups"}}}},"responses":{"200":{"description":"Sync complete","content":{"application/json":{"schema":{"type":"object","properties":{"added":{"type":"number","example":5},"updated":{"type":"number","example":38},"removed":{"type":"number","example":0}},"required":["added","updated","removed"]}}}},"400":{"description":"Plan has no linked Raid Helper event, or invalid plan ID"},"401":{"description":"Invalid or missing API token"},"403":{"description":"Not a raid manager"},"404":{"description":"Plan not found"},"502":{"description":"Raid Helper API unavailable"}}}},"/api/v1/raid-plans/{id}/roster":{"put":{"operationId":"patchRoster","tags":["Raid Planning"],"summary":"Bulk patch default roster positions","description":"Bulk-patches defaultGroup/defaultPosition for multiple characters in a single transaction. Characters not listed are untouched. IDs not belonging to this plan are silently skipped. Requires isRaidManager.","security":[{"BearerToken":[]}],"parameters":[{"schema":{"type":"string","format":"uuid","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"required":true,"name":"id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RosterPatch"}}}},"responses":{"200":{"description":"Number of characters updated","content":{"application/json":{"schema":{"type":"object","properties":{"updated":{"type":"number","example":12}},"required":["updated"]}}}},"400":{"description":"Validation error"},"401":{"description":"Invalid or missing API token"},"403":{"description":"Not a raid manager"},"404":{"description":"Plan not found"}}}},"/api/v1/raid-plans/{id}/roster/{planCharacterId}":{"patch":{"operationId":"relinkRosterSlot","tags":["Raid Planning"],"summary":"Re-link roster slot to a DB character","description":"Updates the character link on a single roster slot. Use to resolve an ambiguous signup match — bind a write-in to a specific DB character. Requires isRaidManager.","security":[{"BearerToken":[]}],"parameters":[{"schema":{"type":"string","format":"uuid","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"required":true,"name":"id","in":"path"},{"schema":{"type":"string","format":"uuid","example":"b2c3d4e5-f601-7890-abcd-ef1234567890"},"required":true,"name":"planCharacterId","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RosterCharacterPatch"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true}},"required":["success"]}}}},"400":{"description":"characterId not found in DB"},"401":{"description":"Invalid or missing API token"},"403":{"description":"Not a raid manager"},"404":{"description":"Plan or roster slot not found"}}}},"/api/v1/raid-plans/{id}/encounters/{encounterId}":{"put":{"operationId":"updateEncounter","tags":["Raid Planning"],"summary":"Update encounter settings","description":"Partial update for a single encounter. When aaTemplate changes, orphaned AA slot assignments are removed. When useDefaultGroups transitions true→false, seeds encounter assignments from current default groups if none exist yet. Requires isRaidManager.","security":[{"BearerToken":[]}],"parameters":[{"schema":{"type":"string","format":"uuid","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"required":true,"name":"id","in":"path"},{"schema":{"type":"string","format":"uuid","example":"c3d4e5f6-a7b8-9012-cdef-123456789012"},"required":true,"name":"encounterId","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"useDefaultGroups":{"type":"boolean","example":false},"encounterName":{"type":"string","example":"Lucifron"},"aaTemplate":{"type":"string","nullable":true,"example":null},"useCustomAA":{"type":"boolean","example":true}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true}},"required":["success"]}}}},"400":{"description":"No fields provided, or validation error"},"401":{"description":"Invalid or missing API token"},"403":{"description":"Not a raid manager"},"404":{"description":"Encounter not found or does not belong to this plan"}}}},"/api/v1/raid-plans/{id}/encounters/{encounterId}/roster":{"put":{"operationId":"patchEncounterRoster","tags":["Raid Planning"],"summary":"Bulk patch encounter group assignments","description":"Bulk-patches per-encounter group assignments. Upserts by (encounterId, planCharacterId) — update if row exists, insert otherwise. Only applies when useDefaultGroups=false on the encounter. Requires isRaidManager.","security":[{"BearerToken":[]}],"parameters":[{"schema":{"type":"string","format":"uuid","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"required":true,"name":"id","in":"path"},{"schema":{"type":"string","format":"uuid","example":"c3d4e5f6-a7b8-9012-cdef-123456789012"},"required":true,"name":"encounterId","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RosterPatch"}}}},"responses":{"200":{"description":"Number of assignments upserted","content":{"application/json":{"schema":{"type":"object","properties":{"updated":{"type":"number","example":8}},"required":["updated"]}}}},"400":{"description":"Validation error"},"401":{"description":"Invalid or missing API token"},"403":{"description":"Not a raid manager"},"404":{"description":"Encounter not found or does not belong to this plan"}}}},"/api/v1/raid-plans/{id}/aa-slots":{"put":{"operationId":"assignAASlots","tags":["Raid Planning"],"summary":"Bulk assign characters to AA slots","description":"Merge semantics: upserts by (slotName, encounterId, planCharacterId). Slots not mentioned are untouched. encounterId=null means plan-level default AA slot. Runs serially to preserve sortOrder correctness. Requires isRaidManager.","security":[{"BearerToken":[]}],"parameters":[{"schema":{"type":"string","format":"uuid","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"required":true,"name":"id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AASlotAssignRequest"}}}},"responses":{"200":{"description":"Counts of assigned and skipped slots","content":{"application/json":{"schema":{"type":"object","properties":{"assigned":{"type":"number","example":3},"skipped":{"type":"number","example":1}},"required":["assigned","skipped"]}}}},"400":{"description":"Validation error"},"401":{"description":"Invalid or missing API token"},"403":{"description":"Not a raid manager"},"404":{"description":"Plan not found"}}}},"/api/v1/raid-templates":{"get":{"operationId":"listRaidTemplates","tags":["Raid Templates"],"summary":"List all raid templates","description":"Returns all hardcoded raid zones with their template configuration. Zones without a configured template return template: null. Requires isRaidManager.","security":[{"BearerToken":[]}],"responses":{"200":{"description":"Raid template list","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"zoneId":{"type":"string","example":"naxxramas"},"zoneName":{"type":"string","example":"Naxxramas"},"defaultGroupCount":{"type":"integer","example":8},"template":{"type":"object","nullable":true,"properties":{"id":{"type":"string","format":"uuid","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"isActive":{"type":"boolean","example":true},"defaultAATemplate":{"type":"string","nullable":true,"example":"{skull} {assign:MainTank} :: {assign:MainTankHeals}"},"availableSlots":{"type":"array","items":{"type":"string"},"example":["MainTank","MainTankHeals"]},"encounters":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"encounterKey":{"type":"string","example":"patchwerk"},"encounterName":{"type":"string","example":"Patchwerk"},"sortOrder":{"type":"integer","example":0},"groupId":{"type":"string","nullable":true,"format":"uuid","example":null},"aaTemplate":{"type":"string","nullable":true,"example":"{skull} {assign:MainTank} :: {assign:MainTankHeals}"}},"required":["id","encounterKey","encounterName","sortOrder","groupId","aaTemplate"]}},"encounterGroups":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"groupName":{"type":"string","example":"Spider Wing"},"sortOrder":{"type":"integer","example":0}},"required":["id","groupName","sortOrder"]}}},"required":["id","isActive","defaultAATemplate","availableSlots","encounters","encounterGroups"]}},"required":["zoneId","zoneName","defaultGroupCount","template"]}}}}},"401":{"description":"Invalid or missing API token"},"403":{"description":"Not a raid manager"}}}},"/api/v1/raid-templates/{zoneId}":{"get":{"operationId":"getRaidTemplate","tags":["Raid Templates"],"summary":"Get raid template detail","description":"Returns full raid template detail including encounters and encounter groups. Returns template: null if zone exists but has no template yet. Requires isRaidManager.","security":[{"BearerToken":[]}],"parameters":[{"schema":{"type":"string","example":"naxxramas"},"required":true,"name":"zoneId","in":"path"}],"responses":{"200":{"description":"Raid template detail","content":{"application/json":{"schema":{"type":"object","properties":{"zoneId":{"type":"string","example":"naxxramas"},"zoneName":{"type":"string","example":"Naxxramas"},"defaultGroupCount":{"type":"integer","example":8},"template":{"type":"object","nullable":true,"properties":{"id":{"type":"string","format":"uuid","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"isActive":{"type":"boolean","example":true},"defaultAATemplate":{"type":"string","nullable":true,"example":"{skull} {assign:MainTank} :: {assign:MainTankHeals}"},"availableSlots":{"type":"array","items":{"type":"string"},"example":["MainTank","MainTankHeals"]},"encounters":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"encounterKey":{"type":"string","example":"patchwerk"},"encounterName":{"type":"string","example":"Patchwerk"},"sortOrder":{"type":"integer","example":0},"groupId":{"type":"string","nullable":true,"format":"uuid","example":null},"aaTemplate":{"type":"string","nullable":true,"example":"{skull} {assign:MainTank} :: {assign:MainTankHeals}"}},"required":["id","encounterKey","encounterName","sortOrder","groupId","aaTemplate"]}},"encounterGroups":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"groupName":{"type":"string","example":"Spider Wing"},"sortOrder":{"type":"integer","example":0}},"required":["id","groupName","sortOrder"]}}},"required":["id","isActive","defaultAATemplate","availableSlots","encounters","encounterGroups"]}},"required":["zoneId","zoneName","defaultGroupCount","template"]}}}},"401":{"description":"Invalid or missing API token"},"403":{"description":"Not a raid manager"},"404":{"description":"Zone not found"}}},"patch":{"operationId":"patchRaidTemplate","tags":["Raid Templates"],"summary":"Update raid template","description":"Updates isActive and/or defaultAATemplate. Auto-creates the template record if it does not exist. Requires isRaidManager.","security":[{"BearerToken":[]}],"parameters":[{"schema":{"type":"string","example":"naxxramas"},"required":true,"name":"zoneId","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"isActive":{"type":"boolean","example":true},"defaultAATemplate":{"type":"string","nullable":true,"maxLength":10000,"example":"{skull} {assign:MainTank} :: {assign:MainTankHeals}\n{assign:TranqShot1} {assign:TranqShot2} Tranq"}}}}}},"responses":{"200":{"description":"Updated template fields","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"isActive":{"type":"boolean","example":true},"defaultAATemplate":{"type":"string","nullable":true,"example":"{skull} {assign:MainTank} :: {assign:MainTankHeals}"},"availableSlots":{"type":"array","items":{"type":"string"},"example":["MainTank","MainTankHeals"]}},"required":["id","isActive","defaultAATemplate","availableSlots"]}}}},"400":{"description":"Invalid zone or request body"},"401":{"description":"Invalid or missing API token"},"403":{"description":"Not a raid manager"},"404":{"description":"Zone not found"}}}},"/api/v1/raid-templates/{zoneId}/encounters":{"post":{"operationId":"addRaidTemplateEncounter","tags":["Raid Templates"],"summary":"Add encounter to raid template","description":"Adds a new encounter preset. Auto-creates the raid template record if needed. sortOrder is appended after the current max. Requires isRaidManager.","security":[{"BearerToken":[]}],"parameters":[{"schema":{"type":"string","example":"naxxramas"},"required":true,"name":"zoneId","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"encounterName":{"type":"string","minLength":1,"maxLength":256,"example":"Patchwerk"},"groupId":{"type":"string","nullable":true,"format":"uuid","example":null},"aaTemplate":{"type":"string","example":"{skull} {assign:MainTank} :: {assign:MainTankHeals}"}},"required":["encounterName"]}}}},"responses":{"201":{"description":"Created encounter","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"encounterKey":{"type":"string","example":"patchwerk"},"encounterName":{"type":"string","example":"Patchwerk"},"sortOrder":{"type":"integer","example":0},"groupId":{"type":"string","nullable":true,"format":"uuid","example":null},"aaTemplate":{"type":"string","nullable":true,"example":"{skull} {assign:MainTank} :: {assign:MainTankHeals}"}},"required":["id","encounterKey","encounterName","sortOrder","groupId","aaTemplate"]}}}},"400":{"description":"Invalid zone or request body"},"401":{"description":"Invalid or missing API token"},"403":{"description":"Not a raid manager"},"404":{"description":"Zone or group not found"}}}},"/api/v1/raid-templates/{zoneId}/encounters/{encounterId}":{"put":{"operationId":"updateRaidTemplateEncounter","tags":["Raid Templates"],"summary":"Update raid template encounter","description":"Updates any combination of encounterName, aaTemplate, sortOrder, groupId. Regenerates encounterKey when encounterName changes. Requires isRaidManager.","security":[{"BearerToken":[]}],"parameters":[{"schema":{"type":"string","example":"naxxramas"},"required":true,"name":"zoneId","in":"path"},{"schema":{"type":"string","format":"uuid","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"required":true,"name":"encounterId","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"encounterName":{"type":"string","minLength":1,"maxLength":256,"example":"Patchwerk"},"aaTemplate":{"type":"string","nullable":true,"maxLength":10000,"example":"{skull} {assign:MainTank} :: {assign:MainTankHeals}"},"sortOrder":{"type":"integer","example":3},"groupId":{"type":"string","nullable":true,"format":"uuid","example":null}}}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true}},"required":["success"]}}}},"400":{"description":"Invalid IDs or request body"},"401":{"description":"Invalid or missing API token"},"403":{"description":"Not a raid manager"},"404":{"description":"Zone or encounter not found"}}},"delete":{"operationId":"deleteRaidTemplateEncounter","tags":["Raid Templates"],"summary":"Delete raid template encounter","description":"Permanently deletes the encounter preset. Requires isRaidManager.","security":[{"BearerToken":[]}],"parameters":[{"schema":{"type":"string","example":"naxxramas"},"required":true,"name":"zoneId","in":"path"},{"schema":{"type":"string","format":"uuid","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"required":true,"name":"encounterId","in":"path"}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true}},"required":["success"]}}}},"400":{"description":"Invalid IDs"},"401":{"description":"Invalid or missing API token"},"403":{"description":"Not a raid manager"},"404":{"description":"Zone or encounter not found"}}}},"/api/v1/raid-templates/{zoneId}/encounters/reorder":{"post":{"operationId":"reorderRaidTemplateEncounters","tags":["Raid Templates"],"summary":"Bulk reorder encounters and groups","description":"Atomically updates sort orders for groups and encounters, and reassigns encounter groupId values. Both arrays are optional but at least one item must be provided. Requires isRaidManager.","security":[{"BearerToken":[]}],"parameters":[{"schema":{"type":"string","example":"naxxramas"},"required":true,"name":"zoneId","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"groups":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"sortOrder":{"type":"integer","example":0}},"required":["id","sortOrder"]}},"encounters":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"sortOrder":{"type":"integer","example":1},"groupId":{"type":"string","nullable":true,"format":"uuid","example":null}},"required":["id","sortOrder","groupId"]}}},"required":["groups","encounters"]}}}},"responses":{"200":{"description":"Reordered","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true}},"required":["success"]}}}},"400":{"description":"Invalid zone or request body"},"401":{"description":"Invalid or missing API token"},"403":{"description":"Not a raid manager"},"404":{"description":"Raid template not configured"}}}},"/api/v1/raid-templates/{zoneId}/groups":{"post":{"operationId":"createRaidTemplateGroup","tags":["Raid Templates"],"summary":"Create encounter group in raid template","description":"Creates a new encounter group. sortOrder is appended after the current max across both encounters and groups. Auto-creates the raid template record if needed. Requires isRaidManager.","security":[{"BearerToken":[]}],"parameters":[{"schema":{"type":"string","example":"naxxramas"},"required":true,"name":"zoneId","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"groupName":{"type":"string","minLength":1,"maxLength":256,"example":"Spider Wing"}},"required":["groupName"]}}}},"responses":{"201":{"description":"Created group","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"groupName":{"type":"string","example":"Spider Wing"},"sortOrder":{"type":"integer","example":0}},"required":["id","groupName","sortOrder"]}}}},"400":{"description":"Invalid zone or request body"},"401":{"description":"Invalid or missing API token"},"403":{"description":"Not a raid manager"},"404":{"description":"Zone not found"}}}},"/api/v1/raid-templates/{zoneId}/groups/{groupId}":{"put":{"operationId":"updateRaidTemplateGroup","tags":["Raid Templates"],"summary":"Rename encounter group","description":"Updates the group name. Requires isRaidManager.","security":[{"BearerToken":[]}],"parameters":[{"schema":{"type":"string","example":"naxxramas"},"required":true,"name":"zoneId","in":"path"},{"schema":{"type":"string","format":"uuid","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"required":true,"name":"groupId","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"groupName":{"type":"string","minLength":1,"maxLength":256,"example":"Spider Wing"}},"required":["groupName"]}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true}},"required":["success"]}}}},"400":{"description":"Invalid IDs or request body"},"401":{"description":"Invalid or missing API token"},"403":{"description":"Not a raid manager"},"404":{"description":"Zone or group not found"}}},"delete":{"operationId":"deleteRaidTemplateGroup","tags":["Raid Templates"],"summary":"Delete encounter group","description":"Deletes a group. mode=promote (default) moves child encounters to top-level; mode=deleteChildren deletes them. Requires isRaidManager.","security":[{"BearerToken":[]}],"parameters":[{"schema":{"type":"string","example":"naxxramas"},"required":true,"name":"zoneId","in":"path"},{"schema":{"type":"string","format":"uuid","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"required":true,"name":"groupId","in":"path"},{"schema":{"type":"string","enum":["promote","deleteChildren"],"example":"promote"},"required":false,"name":"mode","in":"query"}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true}},"required":["success"]}}}},"400":{"description":"Invalid IDs or mode"},"401":{"description":"Invalid or missing API token"},"403":{"description":"Not a raid manager"},"404":{"description":"Zone or group not found"}}}},"/api/v1/raids":{"get":{"operationId":"listRaids","tags":["Raids"],"summary":"List raids","description":"List raids newest-first, with optional zone/date-range/scored filters.","security":[{"BearerToken":[]}],"parameters":[{"schema":{"type":"string","example":"Naxxramas"},"required":false,"name":"zone","in":"query"},{"schema":{"type":"string","example":"2026-01-01"},"required":false,"name":"from","in":"query"},{"schema":{"type":"string","example":"2026-01-31"},"required":false,"name":"to","in":"query"},{"schema":{"type":"string","enum":["true","false"],"example":"true"},"required":false,"name":"scored","in":"query"},{"schema":{"type":"string","example":"50"},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string","example":"0"},"required":false,"name":"offset","in":"query"}],"responses":{"200":{"description":"List of raids","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RaidSummary"}}}}},"401":{"description":"Invalid or missing API token"}}},"post":{"operationId":"createRaid","tags":["Raids"],"summary":"Create raid","description":"Creates a raid, optionally attaching existing WCL logs and bench characters. Requires isRaidManager.","security":[{"BearerToken":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRaid"}}}},"responses":{"201":{"description":"Raid created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RaidSummary"}}}},"400":{"description":"Validation error"},"401":{"description":"Invalid or missing API token"},"403":{"description":"Not a raid manager"}}}},"/api/v1/raids/{id}":{"get":{"operationId":"getRaid","tags":["Raids"],"summary":"Get raid detail","description":"Raid detail. logs and bench are always returned. Use `?include=attendees` to also return the full roster of characters who attended any attached log.","security":[{"BearerToken":[]}],"parameters":[{"schema":{"type":"string","example":"593"},"required":true,"name":"id","in":"path"},{"schema":{"type":"array","items":{"type":"string","enum":["attendees"]},"example":["attendees"]},"required":false,"style":"form","explode":false,"name":"include","in":"query"}],"responses":{"200":{"description":"Raid detail","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RaidDetail"}}}},"400":{"description":"Invalid raid ID"},"401":{"description":"Invalid or missing API token"},"404":{"description":"Raid not found"}}},"patch":{"operationId":"patchRaid","tags":["Raids"],"summary":"Update raid","description":"Updates raid fields and/or reassigns which WCL logs are attached to this raid. All fields optional. Requires isRaidManager.","security":[{"BearerToken":[]}],"parameters":[{"schema":{"type":"string","example":"593"},"required":true,"name":"id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchRaid"}}}},"responses":{"200":{"description":"Updated raid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RaidSummary"}}}},"400":{"description":"Invalid raid ID, request body, or no fields provided"},"401":{"description":"Invalid or missing API token"},"403":{"description":"Not a raid manager"},"404":{"description":"Raid not found"}}},"delete":{"operationId":"deleteRaid","tags":["Raids"],"summary":"Delete raid","description":"Permanently deletes a raid. Attached WCL logs are detached, not deleted. Requires isRaidManager.","security":[{"BearerToken":[]}],"parameters":[{"schema":{"type":"string","example":"593"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Raid deleted","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true}},"required":["success"]}}}},"400":{"description":"Invalid raid ID"},"401":{"description":"Invalid or missing API token"},"403":{"description":"Not a raid manager"},"404":{"description":"Raid not found"}}}},"/api/v1/raids/{id}/bench":{"put":{"operationId":"setRaidBench","tags":["Raids"],"summary":"Set bench characters","description":"Fully replaces the raid's bench roster with the given character IDs. Requires isRaidManager.","security":[{"BearerToken":[]}],"parameters":[{"schema":{"type":"string","example":"593"},"required":true,"name":"id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetBench"}}}},"responses":{"200":{"description":"Updated bench","content":{"application/json":{"schema":{"type":"object","properties":{"bench":{"type":"array","items":{"type":"object","properties":{"characterId":{"type":"number","example":12345},"name":{"type":"string","example":"Khlav"},"class":{"type":"string","example":"Warrior"},"classDetail":{"type":"string","example":"Warrior - Arms"},"server":{"type":"string","example":"Ashkandi"},"slug":{"type":"string","example":"khlav-ashkandi-12345"}},"required":["characterId","name","class","classDetail","server","slug"]}}},"required":["bench"]}}}},"400":{"description":"Invalid raid ID or request body"},"401":{"description":"Invalid or missing API token"},"403":{"description":"Not a raid manager"},"404":{"description":"Raid not found"}}}},"/api/v1/raids/{id}/refresh-logs":{"post":{"operationId":"refreshRaidLogs","tags":["Raids"],"summary":"Re-sync WCL logs","description":"Re-fetches every WCL log attached to this raid from the WarcraftLogs API and updates kills, participants, and attendee mappings. Useful when a log link was imported before the raid finished and was never refreshed. Requires isRaidManager.","security":[{"BearerToken":[]}],"parameters":[{"schema":{"type":"string","example":"593"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Refreshed log IDs","content":{"application/json":{"schema":{"type":"object","properties":{"refreshed":{"type":"array","items":{"type":"string"},"example":["h9G3pVyDwRcgL62q"]}},"required":["refreshed"]}}}},"400":{"description":"Invalid raid ID"},"401":{"description":"Invalid or missing API token"},"403":{"description":"Not a raid manager"},"404":{"description":"Raid not found"}}}}}}